In [1]:
import pandas as pd
import logging

# Log fayl manzili
log_path = r"C:\Users\Rasulbek907\Desktop\Project_MP\Log\data_loader.log"

# Log sozlamalari
logging.basicConfig(
    filename=log_path,
    filemode='a',  # Append mode
    format='%(asctime)s - %(levelname)s - %(message)s',
    level=logging.INFO
)

try:
    logging.info("CSV fayl o'qilmoqda:...")
    df = pd.read_csv(r"C:\Users\Rasulbek907\Desktop\Project_MP\Data\Web_Scrapping\kaggle_unique_datasets_8000.csv")
    logging.info(f"Fayl muvaffaqiyatli o'qildi. Satırlar soni: {len(df)} ustunlar soni: {len(df.columns)}")
except Exception as e:
    logging.error(f"CSV faylni o'qishda xatolik: {e}")

In [2]:
df.head()

,_id,_ref,_subtitle,_creator_name,_creator_url,_total_bytes,_url,_last_updated,_download_count,_is_private,...,_title,_topic_count,_view_count,_vote_count,_current_version_number,_usability_rating,_tags,_files,_versions,_is_frozen
0,8516423,aliiihussain/car-price-prediction,A comprehensive dataset for predicting car pri...,Ali Hussain,aliiihussain,46557,https://www.kaggle.com/datasets/aliiihussain/c...,2025-10-17 19:54:34.140,1306,False,...,Car Price Prediction Dataset (2025),0,5488,29,1,1.0,"[{""ref"": ""asia"", ""name"": ""asia"", ""description""...",[],[],True
1,8385511,ahmeduzaki/global-earthquake-tsunami-risk-asse...,Seismic Features & Tsunami Classification Data...,Ahmed Mohamed Zaki,ahmeduzaki,16151,https://www.kaggle.com/datasets/ahmeduzaki/glo...,2025-10-01 16:35:53.273,19259,False,...,Global Earthquake-Tsunami Risk Assessment Dataset,0,89284,652,1,1.0,"[{""ref"": ""exploratory data analysis"", ""name"": ...",[],[],True
2,8574575,ayeshaimran123/social-media-and-mental-health-...,Exploring corelations between daily screen hou...,Ayesha Imran,ayeshaimran123,5941,https://www.kaggle.com/datasets/ayeshaimran123...,2025-10-26 07:51:53.380,3667,False,...,Social Media and Mental Health Balance,0,14511,52,1,1.0,"[{""ref"": ""mental health"", ""name"": ""mental heal...",[],[],True
3,8630082,anandshaw2001/amazon-product-sales-2025,Amazon Diwali Product Sales 2025 and Sentiment...,Anand Shaw,anandshaw2001,397394,https://www.kaggle.com/datasets/anandshaw2001/...,2025-11-02 06:45:32.877,1502,False,...,Amazon Diwali Product Sales 2025,0,5229,30,1,1.0,"[{""ref"": ""clothing and accessories"", ""name"": ""...",[],[],True
4,8310166,ahmadrazakashif/bmw-worldwide-sales-records-20...,A complete dataset of BMW cars from 2010–2024 ...,Ahmad Raza Kashif,ahmadrazakashif,853348,https://www.kaggle.com/datasets/ahmadrazakashi...,2025-09-20 14:39:45.280,23269,False,...,BMW Worldwide Sales Records (2010–2024),0,77894,455,1,1.0,"[{""ref"": ""business"", ""name"": ""business"", ""desc...",[],[],True

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      8000 non-null   int64
 1   _ref                     8000 non-null   object
 2   _subtitle                7100 non-null   object
 3   _creator_name            8000 non-null   object
 4   _creator_url             8000 non-null   object
 5   _total_bytes             8000 non-null   int64
 6   _url                     8000 non-null   object
 7   _last_updated            8000 non-null   object
 8   _download_count          8000 non-null   int64
 9   _is_private              8000 non-null   bool
 10  _is_featured             8000 non-null   bool
 11  _license_name            8000 non-null   object
 12  _description             0 non-null      float64
 13  _owner_name              8000 non-null   object
 14  _owner_ref               8000 non-null   object
 15  _kernel_count            8000 non-null   int64
 16  _title                   8000 non-null   object
 17  _topic_count             8000 non-null   int64
 18  _view_count              8000 non-null   int64
 19  _vote_count              8000 non-null   int64
 20  _current_version_number  8000 non-null   int64
 21  _usability_rating        8000 non-null   float64
 22  _tags                    8000 non-null   object
 23  _files                   8000 non-null   object
 24  _versions                8000 non-null   object
 25  _is_frozen               8000 non-null   bool
dtypes: bool(3), float64(2), int64(8), object(13)
memory usage: 1.4+ MB

In [4]:
# df ustun nomlaridagi "_" belgilarini olib tashlash
df.columns = [col.replace('_', '') for col in df.columns]

# Natijani tekshirish
print(df.columns)

Index(['id', 'ref', 'subtitle', 'creatorname', 'creatorurl', 'totalbytes',
       'url', 'lastupdated', 'downloadcount', 'isprivate', 'isfeatured',
       'licensename', 'description', 'ownername', 'ownerref', 'kernelcount',
       'title', 'topiccount', 'viewcount', 'votecount', 'currentversionnumber',
       'usabilityrating', 'tags', 'files', 'versions', 'isfrozen'],
      dtype='object')

In [5]:
unique_counts_df = pd.DataFrame({
    'Column': df.columns,
    'Unique_Values': df.nunique().values
})

print(unique_counts_df)

                  Column  Unique_Values
0                     id           8000
1                    ref           8000
2               subtitle           7033
3            creatorname           4894
4             creatorurl           4924
5             totalbytes           7505
6                    url           8000
7            lastupdated           8000
8          downloadcount           5737
9              isprivate              1
10            isfeatured              1
11           licensename             32
12           description              0
13             ownername           4972
14              ownerref           5000
15           kernelcount            482
16                 title           7786
17            topiccount              1
18             viewcount           7120
19             votecount            777
20  currentversionnumber            187
21       usabilityrating             44
22                  tags           6126
23                 files              1
24              versions              1
25              isfrozen              1

In [6]:
# subtitle ustuni bo'yicha butun qatorlarni unique qilish
df_unique = df.drop_duplicates(subset=['subtitle']).reset_index(drop=True)

# Natijani tekshirish
print(df_unique.shape)  # qator va ustun soni
print(df_unique['subtitle'].nunique())  # unikal subtitle soni
print(df_unique.head())

(7034, 26)
7033
        id                                                ref  \
0  8516423                  aliiihussain/car-price-prediction
1  8385511  ahmeduzaki/global-earthquake-tsunami-risk-asse...
2  8574575  ayeshaimran123/social-media-and-mental-health-...
3  8630082            anandshaw2001/amazon-product-sales-2025
4  8310166  ahmadrazakashif/bmw-worldwide-sales-records-20...

                                            subtitle         creatorname  \
0  A comprehensive dataset for predicting car pri...         Ali Hussain
1  Seismic Features & Tsunami Classification Data...  Ahmed Mohamed Zaki
2  Exploring corelations between daily screen hou...        Ayesha Imran
3  Amazon Diwali Product Sales 2025 and Sentiment...          Anand Shaw
4  A complete dataset of BMW cars from 2010–2024 ...   Ahmad Raza Kashif

        creatorurl  totalbytes  \
0     aliiihussain       46557
1       ahmeduzaki       16151
2   ayeshaimran123        5941
3    anandshaw2001      397394
4  ahmadrazakashif      853348

                                                 url              lastupdated  \
0  https://www.kaggle.com/datasets/aliiihussain/c...  2025-10-17 19:54:34.140
1  https://www.kaggle.com/datasets/ahmeduzaki/glo...  2025-10-01 16:35:53.273
2  https://www.kaggle.com/datasets/ayeshaimran123...  2025-10-26 07:51:53.380
3  https://www.kaggle.com/datasets/anandshaw2001/...  2025-11-02 06:45:32.877
4  https://www.kaggle.com/datasets/ahmadrazakashi...  2025-09-20 14:39:45.280

   downloadcount  isprivate  ...  \
0           1306      False  ...
1          19259      False  ...
2           3667      False  ...
3           1502      False  ...
4          23269      False  ...

                                               title topiccount  viewcount  \
0                Car Price Prediction Dataset (2025)          0       5488
1  Global Earthquake-Tsunami Risk Assessment Dataset          0      89284
2             Social Media and Mental Health Balance          0      14511
3                   Amazon Diwali Product Sales 2025          0       5229
4            BMW Worldwide Sales Records (2010–2024)          0      77894

  votecount currentversionnumber  usabilityrating  \
0        29                    1              1.0
1       652                    1              1.0
2        52                    1              1.0
3        30                    1              1.0
4       455                    1              1.0

                                                tags  files  versions  \
0  [{"ref": "asia", "name": "asia", "description"...     []        []
1  [{"ref": "exploratory data analysis", "name": ...     []        []
2  [{"ref": "mental health", "name": "mental heal...     []        []
3  [{"ref": "clothing and accessories", "name": "...     []        []
4  [{"ref": "business", "name": "business", "desc...     []        []

   isfrozen
0      True
1      True
2      True
3      True
4      True

[5 rows x 26 columns]

In [8]:
df_unique.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7034 entries, 0 to 7033
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    7034 non-null   int64
 1   ref                   7034 non-null   object
 2   subtitle              7033 non-null   object
 3   creatorname           7034 non-null   object
 4   creatorurl            7034 non-null   object
 5   totalbytes            7034 non-null   int64
 6   url                   7034 non-null   object
 7   lastupdated           7034 non-null   object
 8   downloadcount         7034 non-null   int64
 9   isprivate             7034 non-null   bool
 10  isfeatured            7034 non-null   bool
 11  licensename           7034 non-null   object
 12  description           0 non-null      float64
 13  ownername             7034 non-null   object
 14  ownerref              7034 non-null   object
 15  kernelcount           7034 non-null   int64
 16  title                 7034 non-null   object
 17  topiccount            7034 non-null   int64
 18  viewcount             7034 non-null   int64
 19  votecount             7034 non-null   int64
 20  currentversionnumber  7034 non-null   int64
 21  usabilityrating       7034 non-null   float64
 22  tags                  7034 non-null   object
 23  files                 7034 non-null   object
 24  versions              7034 non-null   object
 25  isfrozen              7034 non-null   bool
dtypes: bool(3), float64(2), int64(8), object(13)
memory usage: 1.3+ MB

In [9]:
df_unique = df_unique.drop(columns=['description'])

In [11]:
df_unique.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7034 entries, 0 to 7033
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    7034 non-null   int64
 1   ref                   7034 non-null   object
 2   subtitle              7033 non-null   object
 3   creatorname           7034 non-null   object
 4   creatorurl            7034 non-null   object
 5   totalbytes            7034 non-null   int64
 6   url                   7034 non-null   object
 7   lastupdated           7034 non-null   object
 8   downloadcount         7034 non-null   int64
 9   isprivate             7034 non-null   bool
 10  isfeatured            7034 non-null   bool
 11  licensename           7034 non-null   object
 12  ownername             7034 non-null   object
 13  ownerref              7034 non-null   object
 14  kernelcount           7034 non-null   int64
 15  title                 7034 non-null   object
 16  topiccount            7034 non-null   int64
 17  viewcount             7034 non-null   int64
 18  votecount             7034 non-null   int64
 19  currentversionnumber  7034 non-null   int64
 20  usabilityrating       7034 non-null   float64
 21  tags                  7034 non-null   object
 22  files                 7034 non-null   object
 23  versions              7034 non-null   object
 24  isfrozen              7034 non-null   bool
dtypes: bool(3), float64(1), int64(8), object(13)
memory usage: 1.2+ MB

In [13]:
print(df_unique.columns.tolist())

['id', 'ref', 'subtitle', 'creatorname', 'creatorurl', 'totalbytes', 'url', 'lastupdated', 'downloadcount', 'isprivate', 'isfeatured', 'licensename', 'ownername', 'ownerref', 'kernelcount', 'title', 'topiccount', 'viewcount', 'votecount', 'currentversionnumber', 'usabilityrating', 'tags', 'files', 'versions', 'isfrozen']

In [14]:
unique_counts_df = pd.DataFrame({
    'Column': df_unique.columns,
    'Unique_Values': df_unique.nunique().values
})

print(unique_counts_df)

                  Column  Unique_Values
0                     id           7034
1                    ref           7034
2               subtitle           7033
3            creatorname           4209
4             creatorurl           4229
5             totalbytes           6673
6                    url           7034
7            lastupdated           7034
8          downloadcount           5290
9              isprivate              1
10            isfeatured              1
11           licensename             32
12             ownername           4287
13              ownerref           4306
14           kernelcount            465
15                 title           6867
16            topiccount              1
17             viewcount           6467
18             votecount            764
19  currentversionnumber            185
20       usabilityrating             39
21                  tags           5930
22                 files              1
23              versions              1
24              isfrozen              1

In [ ]:
# Olib tashlanadigan ustunlar ro'yxati
columns_to_drop = [
    'isprivate', 'isfeatured', 'licensename', 'kernelcount', 
    'topiccount', 'votecount', 'currentversionnumber', 'usabilityrating', 
    'files', 'versions', 'isfrozen'
]

# Ustunlarni olib tashlash
df_unique = df_unique.drop(columns=columns_to_drop)

['id', 'ref', 'subtitle', 'creatorname', 'creatorurl', 'totalbytes', 'url', 'lastupdated', 'downloadcount', 'ownername', 'ownerref', 'title', 'viewcount', 'tags']

In [17]:
df_unique.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7034 entries, 0 to 7033
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             7034 non-null   int64
 1   ref            7034 non-null   object
 2   subtitle       7033 non-null   object
 3   creatorname    7034 non-null   object
 4   creatorurl     7034 non-null   object
 5   totalbytes     7034 non-null   int64
 6   url            7034 non-null   object
 7   lastupdated    7034 non-null   object
 8   downloadcount  7034 non-null   int64
 9   ownername      7034 non-null   object
 10  ownerref       7034 non-null   object
 11  title          7034 non-null   object
 12  viewcount      7034 non-null   int64
 13  tags           7034 non-null   object
dtypes: int64(4), object(10)
memory usage: 769.5+ KB

In [18]:
# Tekshiriladigan ustunlar ro'yxati
columns_to_check = [
    'id', 'ref', 'subtitle', 'creatorname', 'creatorurl', 
    'totalbytes', 'url', 'lastupdated', 'downloadcount', 
    'ownername', 'ownerref', 'title', 'viewcount', 'tags'
]

# Har bir ustun bo'yicha unikal qiymatlar soni
unique_counts = df_unique[columns_to_check].nunique()

# Natijani chiqarish
print(unique_counts)

id               7034
ref              7034
subtitle         7033
creatorname      4209
creatorurl       4229
totalbytes       6673
url              7034
lastupdated      7034
downloadcount    5290
ownername        4287
ownerref         4306
title            6867
viewcount        6467
tags             5930
dtype: int64

In [32]:
# 1. Har bir ustun bo'yicha unikal qiymatlar sonini hisoblash
unique_counts = df_unique.nunique()

# 2. Eng kam unique qiymatga ega ustunni topish
min_unique_col = unique_counts.idxmin()
min_unique_count = unique_counts.min()
print(f"Eng kam unique qiymatga ega ustun: {min_unique_col} ({min_unique_count} unikal qiymat)")

# 3. Shu ustun bo'yicha duplicate qatorlarni olib tashlash
df_filtered = df_unique.drop_duplicates(subset=[min_unique_col]).reset_index(drop=True)

# Natijani tekshirish
print(df_filtered.shape)
print(df_filtered[min_unique_col].nunique())  # endi eng kam unique qiymatga ega ustun bo'yicha son

Eng kam unique qiymatga ega ustun: creatorname (4209 unikal qiymat)
(4209, 14)
4209

In [33]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             4209 non-null   int64
 1   ref            4209 non-null   object
 2   subtitle       4209 non-null   object
 3   creatorname    4209 non-null   object
 4   creatorurl     4209 non-null   object
 5   totalbytes     4209 non-null   int64
 6   url            4209 non-null   object
 7   lastupdated    4209 non-null   object
 8   downloadcount  4209 non-null   int64
 9   ownername      4209 non-null   object
 10  ownerref       4209 non-null   object
 11  title          4209 non-null   object
 12  viewcount      4209 non-null   int64
 13  tags           4209 non-null   object
dtypes: int64(4), object(10)
memory usage: 460.5+ KB

In [35]:
df_filtered.to_csv(r"C:\Users\Rasulbek907\Desktop\Project_MP\Data\Raw_Data\Raw_Data.csv")

In [36]:
df = pd.read_csv(r"C:\Users\Rasulbek907\Desktop\Project_MP\Data\Raw_Data\Raw_Data.csv")

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     4209 non-null   int64
 1   id             4209 non-null   int64
 2   ref            4209 non-null   object
 3   subtitle       4209 non-null   object
 4   creatorname    4209 non-null   object
 5   creatorurl     4209 non-null   object
 6   totalbytes     4209 non-null   int64
 7   url            4209 non-null   object
 8   lastupdated    4209 non-null   object
 9   downloadcount  4209 non-null   int64
 10  ownername      4209 non-null   object
 11  ownerref       4209 non-null   object
 12  title          4209 non-null   object
 13  viewcount      4209 non-null   int64
 14  tags           4209 non-null   object
dtypes: int64(5), object(10)
memory usage: 493.4+ KB

In [38]:
import sys
import os

# Source papkasini yo'lga qo'shamiz
source_path = os.path.abspath("../Source")
if source_path not in sys.path:
    sys.path.append(source_path)

print("Python executable:", sys.executable)
print("Source path added:", source_path)

# Endi modulni import qilamiz
from preprosessing import Cleaner, Encoder, Scaler

Python executable: c:\Users\Rasulbek907\Desktop\Project_MP\mpvenv\Scripts\python.exe
Source path added: c:\Users\Rasulbek907\Desktop\Project_MP\Source

In [39]:
cleaner = Cleaner(df).tozala()
df_clean = cleaner.get_df()

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     4209 non-null   int64
 1   id             4209 non-null   int64
 2   ref            4209 non-null   object
 3   subtitle       4209 non-null   object
 4   creatorname    4209 non-null   object
 5   creatorurl     4209 non-null   object
 6   totalbytes     4209 non-null   int64
 7   url            4209 non-null   object
 8   lastupdated    4209 non-null   object
 9   downloadcount  4209 non-null   int64
 10  ownername      4209 non-null   object
 11  ownerref       4209 non-null   object
 12  title          4209 non-null   object
 13  viewcount      4209 non-null   int64
 14  tags           4209 non-null   object
dtypes: int64(5), object(10)
memory usage: 493.4+ KB

In [41]:
df.to_csv(r"C:\Users\Rasulbek907\Desktop\Project_MP\Data\Preprosessed\Missing_Value.csv")

In [ ]:

encoder = Encoder(df_clean, target_col='y').encodla()
df_encoded = encoder.get_df()

In [ ]:

df.info()

In [ ]:
scaler = Scaler(df_encoded, target_col='y').scaling_qil()
df_scaled = scaler.get_df()

In [ ]:

df.head()

In [ ]:

df.to_csv(r"C:\Users\Rasulbek907\Desktop\Final_Project\Data\Preprosessed_data\Preprosessed.csv")